body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.274);
    backdrop-filter: blur(6.4px);
}

.load {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: rgba(255, 255, 255, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Gill Sans", sans-serif;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f9f9f9;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #e0e0e0;
    border-top: 6px solid #10afed;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.foouter {
    height: calc(10vh - 20px);
    background-color: #f1f7f7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

.isi {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.text p {
    color: #202020;
    margin: 0;
    font-size: 12px;
}

.text h4 {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin: 0;
}

.navbar {
    margin-left: auto;
}

.button-navbar {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar i {
    font-size: 25px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f1f7f7;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 99;
}

.sidebar.active {
    display: block;
}

.sidebar-content {
    padding: 20px;
}

.button-sidebar {
    display: flex;
    align-items: center;
}

.button-user {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.isi-histori a:hover {
    background-color: #a0a0a0;
    border-radius: 10px;
}

.isi-histori a {
    padding: 5px;
    text-decoration: none;
    color: #000;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.profile {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.user {
    display: flex;
    align-items: center;
}

.profile-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.user p {
    margin: 0;
    color: #000;
}

.logout {
    position: fixed;
    right: 0;
    margin-right: 10px;
}

.button-logout {
    font-size: 25px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.close-sidebar,
.new {
    background: none;
    border: none;
    font-weight: bold;
    color: #000;
    font-size: 25px;
    cursor: pointer;
}

.chat-container {
    height: calc(85vh - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.wadah {
    height: 100%;
}

.chat-box {
    flex-grow: 1;
    padding: 10px;
    max-height: 100%;
    overflow-y: auto;
}

.chat-message {
    margin: 10px 0;
    display: flex;
}

.chat-message.user {
    justify-content: flex-end;
}

.chat-message.bot {
    justify-content: flex-start;
}

.record-btn {
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    display: inline-block;
}

.record-btn.hidden {
    display: none;
}

.files {
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.message-content {
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 100%;
    word-wrap: break-word;
    line-height: 1.5;
    margin-bottom: 10px;
}

.message-content.user {
    background-color: #10afed;
    color: white;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.message-content.bot {
    background-color: #f2f6fa;
    color: #333;
    border-top-left-radius: 0;
}

.chat-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

.code {
    background-color: #f4f4f4;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    margin: 10px 0;
}

.keyword {
    color: #d14;
    font-weight: bold;
}

.string {
    color: #008000;
}

.number {
    color: #0000ff;
}

.comment {
    color: #a0a0a0;
    font-style: italic;
}

.input-user {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
    height: 25px;
    display: flex;
    align-items: center;
}

.chat-input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

.send-btn {
    padding: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #10afed;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: fixed;
    bottom: 8%;
    left: 10px;
    padding: 20px;
    width: calc(30% - 40px);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: slideUp 0.3s ease-in-out;
    display: grid;
    overflow: hidden;
    box-sizing: border-box;
}

.modal-content>* {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.upload-link,
.setting {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
}

.message-time {
    font-size: 12px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .text p {
        font-size: 10px;
    }

    .text h4 {
        font-size: 15px;
    }

    .navbar i {
        font-size: 22px;
    }

    .modal-content {
       width: calc(60% - 40px);
       bottom: 9%;
    }
}